body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 180vh;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-left: 230px;
    padding-right: 230px;
}

.logo {
    color: #f9f9f9;
    font-size: 24px;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-self: center;
}

.page-first{
    background-color: #1F2937;
    flex: 1;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.page-second, .page-fourth {
    background-color: white;
    flex: 1;
}
.page-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.page-third {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
}

h3 {
    text-align: center;
    color: white;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 25px;
}

.welcome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.welcome-text {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0px;
}

img {
    height: 280px;
    width: auto;
}
.button-first {
    width: 110px;
    padding: 9px;
    background-color: #3882F6;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
}
.proffesors {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.square {
    width: 128px;
    height: auto;
}
.profils {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
    align-items: center;
    align-content: center;
}
.names {
    max-width: 126px;
}

.container {
    align-self: center;
    width: 704px;
    display: flex;
    flex-direction: column;
}
.quote {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}
.quoter {
    align-self: flex-end;
    font-size: 28px;
    font-weight: 700;
    color: #1F2937
}
